.events {
    margin-top: 30px;
}

.events-banner {
    text-align: center;
    font-family: ComputerModernSans;
    font-weight: 100;
    font-size: 50px;
    color:#cc8806;
}

.image-container {
  margin: 2rem auto;
  max-width: 1200px;
  padding: 0 1rem;
}

.event-item {
    margin: 1rem;
}


.event-item img {
  display: block;
}

.responsive-image {
  max-width: 100%;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
}

.responsive-image:hover {
    opacity: 1;
}

@media screen and (min-width: 600px) {
  .events-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .event-item {
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width: 1000px) {
  .event-item {
    width: calc(33.3333% - 2rem);
  }
}

.footer {
    margin-top: 50px;
}
